<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Kata Sandi: Arsip Digital RRI Palembang</title>
    <style type="text/css">
      body {
        margin: 0;
        background-color: #fafafa;
      }

      table {
        border-spacing: 0;
      }

      td {
        padding: 0;
      }

      img {
        max-width: 100%;
        border: 0;
      }

      h1,
      p {
        margin: 0;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: #334155;
      }

      a {
        text-decoration: none;
      }

      .wrapper {
        width: 100%;
        table-layout: fixed;
        background-color: #fafafa;
      }

      @media screen and (min-width: 900px) {
        .wrapper {
          padding: 32px 0;
        }
      }

      .main {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        border-spacing: 0;
        background-color: #ffffff;
      }

      @media screen and (min-width: 900px) {
        .main {
          border-radius: 8px;
          overflow: hidden;
        }
      }

      .header-wrapper {
        padding: 16px 0;
        background-color: #0076e6;
        text-align: center;
      }

      .content-wrapper {
        padding: 32px;
        text-align: center;
      }

      @media screen and (min-width: 900px) {
        .content-wrapper {
          padding: 32px 64px;
          text-align: center;
        }
      }

      .content {
        width: 100%;
      }

      .intro-wrapper {
        text-align: center;
      }

      .title {
        margin-bottom: 8px;
        font-size: 28px;
        font-weight: 700;
      }

      .app-name {
        color: #0076e6;
        font-weight: 700;
      }

      .actions-wrapper {
        padding: 32px 0;
        text-align: center;
      }

      .action-button {
        display: inline-block;
        padding: 12px 16px;
        background-color: #0076e6;
        border: none;
        border-radius: 8px;
        color: #f8fafc;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
      }

      .actions-separator {
        margin: 8px auto;
      }

      .action-link {
        color: #0076e6;
        font-weight: 500;
      }

      .outro-wrapper {
        text-align: center;
      }

      .outro {
        color: #94a3b8;
        font-style: italic;
      }

      .footer-wrapper {
        padding: 16px 0;
        background-color: #f1f5f9;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <center class="wrapper">
      <table class="main" width="100%">
        <tr>
          <td class="header-wrapper">
            <img
              src="https://i.ibb.co.com/MRv6Nk5/arsip-digital-rri-palembang-logo-white.png"
              alt="Arsip Digital RRI Palembang"
              height="32"
            />
          </td>
        </tr>
        <tr>
          <td class="content-wrapper">
            <center>
              <table class="content" width="100%">
                <tr>
                  <td class="intro-wrapper">
                    <h1 class="title">Reset Kata Sandi</h1>
                    <p class="intro">
                      Halo
                      <b><%= locals.userName %></b>, Anda telah membuat
                      permintaan untuk mengubah kata sandi akun
                      <span class="app-name">Arsip Digital RRI Palembang</span>.
                      Silakan ubah kata sandi akun Anda melalui tombol atau
                      tautan di bawah ini.
                    </p>
                  </td>
                </tr>
                <tr>
                  <td class="actions-wrapper">
                    <a
                      href="<%= locals.frontEndBaseURL %>/auth/reset-password/<%=
                  locals.resetPasswordRequestId %>"
                      target="_blank"
                      class="action-button"
                      title="Reset Kata Sandi"
                    >
                      Reset Kata Sandi
                    </a>
                    <p class="actions-separator">atau</p>
                    <a
                      href="<%= locals.frontEndBaseURL %>/auth/reset-password/<%=
                  locals.resetPasswordRequestId %>"
                      target="_blank"
                      class="action-link"
                      title="Reset Kata Sandi"
                    >
                      <%= locals.frontEndBaseURL %>/auth/reset-password/<%=
                      locals.resetPasswordRequestId %>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="outro-wrapper">
                    <p class="outro">
                      Apabila Anda tidak membuat permintaan untuk mengubah kata
                      sandi, abaikan surat ini.
                    </p>
                  </td>
                </tr>
              </table>
            </center>
          </td>
        </tr>
        <tr>
          <td class="footer-wrapper">
            <img
              src="https://i.ibb.co.com/4tB672C/rri-logo.png"
              alt="RRI Palembang"
              height="16"
            />
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
